<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Index</title>
</head>

<body>
    <div>
        <nav class="navbar navbar-light" style="background-color: bisque; font-family:sans-serif">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" style="font-weight: bold" href="/">Toys Manage</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/viewAll"> View Products</a></li>
                    <li><a href="/new">New products</a></li>
                    <li><a href="/editAll">Edit Products</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Log out</a></li>
                    <li style="font-family:sans-serif; color:#337ab7">
                        {{#if name }}
                        <h4>Welcome {{name}}</h4>
                        {{else}}
                        <h3>Require log in</h3>
                        {{/if}}
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div>
        <nav class="img-responsive">
            <img src="https://img.freepik.com/free-vector/kid-zone-flat-design-wallpaper_52683-77166.jpg?w=1380&t=st=1677732989~exp=1677733589~hmac=8baea9238851c7c51950454113764bde20bfda7ea7eaa85e11913cd578383ac0"
                style="width:100%" alt="toys">
        </nav>
    </div>
</body>

</html>