<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>New Products</title>
</head>
<body>
    <div class="container">
    <h1>New product</h1>
    <form action="/newProduct" method="post">
        <div class="name">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="txtName">
            <div style="color: red;">
                {{nameError}}
            </div>
        </div>

        <div class="price">
            <label for="price">Price:</label>
            <input type="text" class="form-control" id="price" placeholder="Enter price" name="txtPrice">
            <div style="color: red;">
                {{nameError}}
            </div>
        </div>

        <div class="picture">
            <label for="picture">Picture:</label>
            <input type="text" class="form-control" id="picture" placeholder="Enter URL" name="txtPicture">
        </div>

        <div class="weight">
            <label for="weight">weight:</label>
            <input type="text" class="form-control" id="description" placeholder="Enter description" name="txtWeight">
        </div>

        <div class="description">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" placeholder="Enter description" name="txtDescription">
        </div>

        <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
        </div>

        <button type="button" class="btn btn-success" onclick="history.back();">Back</button>
        <button type="submit" class="btn btn-danger">Create new</button>

    </form>
    </div>
</body>
</html>